#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background: #f1f5f9;
}

.row {
  display: flex;
  flex-direction: row;
}

.week {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: inherit;
  border: 1px solid gray;
  margin: 1px;
}

.week.padded-right {
  margin-right: 5px;
}

.week.filled {
  border: 1px solid black;
  background: black;
}

.year-callout--container {
  position: relative;
}

.year-callout {
  position: absolute;
  right: 8px;
  font-size: 14px;
  top: -5px;
  color: black;
}

.footer {
  padding-top: 24px;
  text-align: right;
  color: black;
}
